extends layout

block content
    section.main-content
        header
            h1= title
        hr
        div.abaco

block append script
    script(type='text/template', id='abaco-screen')
        div.led
            h2.start <%= led.label %>
        div.answare
            input(type='input', id='answer-input')
            button(type='button', id='answer-button')= 'Respond'
