extends layout

block content
    section.main-content
        header
            h1= title
        hr
        div.abaco.middle

block append script
    script(type='text/template', id='abaco-screen')
        div.led
            h2.start <%= led.label %>
        div.answer
            input(type='text', id='answer-input')
            button(type='button', class='btn', id='answer-button')= 'Respond'
